{% extends "base.html" %}
{% block content %}
<h1>About our Team</h1>
<h5>An overview of the founding team and contributors to Cosell.</h5>
<p>Learn more about the team maintaining Cosell.</p>
<p>Cosell is maintained by the founding team and a small group of invaluable contributors, with the massive support and involvement of our community.</p>
<main>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="media/Mohit.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mohit Panchasara</h5>
              <a href="https://www.linkedin.com/in/mohit-panchasara-81182a1a9" target="_blank">Linkedin</a>&nbsp;|
              <a href="https://github.com/MohitPanchasara" target="_blank">Github</a>
             
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="media/Shubham.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Shubham vora</h5>
              <a href="https://www.linkedin.com/in/shubham-vora-258a7b186" target="_blank">Linkedin</a>&nbsp;|
              <a href="https://github.com/shubhamvora05" target="_blank">Github</a>
             
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="media/Sunil.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sunil Bhenspaliya</h5>
              <a href="https://www.linkedin.com/in/bhenspaliya-sunil790" target="_blank">Linkedin</a>&nbsp;|
              <a href="https://github.com/sunilb790" target="_blank">Github</a>
             
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="media/Tushar.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tushar</h5>
              <br>
              <a href="https://www.linkedin.com/in/tushar-24a03a216" target="_blank">Linkedin</a>&nbsp;|
              <a href="https://github.com/Tushar25022001" target="_blank">Github</a>
             
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="media/Stapan.jpg" class="card-img-left" alt="..." width="200" height="200">
              <div class="card-body" width ="200">
                <h5 class="card-title"> Tapan Savani</h5>
                <a href="https://www.linkedin.com/in/tapan-savani" target="_blank">Linkedin</a>&nbsp;|
                <a href="https://github.com/Stapan17" target="_blank">Github</a>
                 
              </div>
            </div>
          </div>
      </div>
</main>
<br>
<br>
<h2>Team</h2>
<h5>An overview of the founding team and contributors to Cosell.</h5>

{% endblock content %}